<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="/css/banner.css">
  <title>Document</title>
</head>


<center>
  <h1 class="cardh2" style="
  margin-top: 90px;font-weight: bolder; " > 
  Membership Plans
</h1>
</center>
<body>


  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="/assets/EVERGREEN_PERSONALTRAINING_BW_01_181_1_sRGB_FINAL-lpr.webp"  height="350px"  alt="Card image cap">
    <div class="card-body"><center>
      <h5 class="card-title">Zenfit Go</h5>
      <p class="card-text">Entry Level Plan</p>
      
      <a href="/gold.php" class="btn btn-primary">Explore More</a></center>
    </div>
  </div>



  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="/assets/YOGASTRONG_AMO06_040_073_V03_ORANGE_300DPI_FINAL-lpr.webp" height="350x"  alt="Card image cap">
    <div class="card-body"><center>
      <h5 class="card-title">Zenfit Pro</h5>
      <p class="card-text">Make you a Pro</p>
      <a href="/diamond.php" class="btn btn-primary">Explore Now</a> </center>
    </div>
  </div>


  
  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="/assets/industry-best-programing-3-min.webp"  height="350px" alt="Card image cap">
    <div class="card-body"> <center>
      <h5 class="card-title">Zenfit Plus+</h5>
      <p class="card-text">The Ultimate Plan</p>
      <a href="/platinum.php" class="btn btn-primary">Explore Now</a> </center>
    </div>
  </div>
</body>
</html>